@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('./images/background.svg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.react-rotate {
  animation: girar 10s linear infinite;
  /* La animación girar dura 2 segundos y se repite infinitamente */
}

.jump-animation {
  animation: pingpong 2s infinite;
}

svg text {
  font-size: 1em;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
    /* Inicia la rotación desde 0 grados */
  }

  to {
    transform: rotate(360deg);
    /* Termina la rotación en 360 grados (una vuelta completa) */
  }
}

@keyframes pingpong {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}