@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1f1f1f;
}

.girar-animacion {
  animation: girar 10s linear infinite;
  /* La animación girar dura 2 segundos y se repite infinitamente */
}

.bg-javascript {
  background-image: url('./images/javascript-logo.png');
  overflow: visible;
  background-position: 0px 5%;
  background-size: 100px;
  background-repeat: no-repeat;
}

.hover-image {
  transition: all 0.2s ease;
}

.hover-image:hover {
  transform: scale(1.1);
}

.jump-animation {
  animation: pingpong 2s infinite;
}

svg text {
  font-size: 1em;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
    /* Inicia la rotación desde 0 grados */
  }

  to {
    transform: rotate(360deg);
    /* Termina la rotación en 360 grados (una vuelta completa) */
  }
}

@keyframes pingpong {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}